// FORMULARIO DE CONTACTO
.contact{
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

.content1{
    max-width: 800px;
    text-align: center;
    border-bottom: 2px solid #333;

}

.contact .content1 h2{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.content1 p{
    font-size: 20px;
    color: #fff;
}

.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 1px solid;
    font-size: 20px;
}

.container1 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 500;
}

.container1 .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 20px;
    background: #fff;
    right: 0;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;

}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #111111;
    font-size: 12px;
    transform: translateY(-10px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4 ;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}


//PARA EJEMPLO
#btn{
    width: 100px;
    background: #00bcd4 ;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

// MEDIA QUERIES
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
    .contact{
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactInfo{
        margin-bottom: 40px;
    }
    .container1 .contactInfo,
    .contactForm{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
}    


@media only screen and (max-width: 576px) {

}