.mainIndex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.7rem;
    text-align: center;
}


.imgIndex{
    max-width: 100%;
}

article p{
    font-size: 20px;
    font-weight:bolder;
    border-radius: 1p solid black;
}

.col{
    padding: 40px;
}

.card{
    padding: 10px;
}

h5{
    text-align: center;
}

.row{
    margin-right: 0;
}
